body {
    background: #000;
    color: #aeb9db;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #111;
    color: white;
    text-align: center;
    padding: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #fff;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.project-card {
    background: #111;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.project-card {
    background: #000;
    box-shadow: 0px 0px 18px #00f782;
    border: 2px solid #00f782;
}
.project-card a {
    text-decoration: none;
}

.project-card h3 {
    margin-top: 0;
    color: #fff;
}
.project-card h3:hover {
    color: #00f782;
}

a {
    color: #00f782;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #111;
    color: #555;
    margin-top: 2rem;
}
